body{
    margin: 0px;
}

img{
    height: 200px;
    width: auto;
}

.header img{
    height: 50px;
    width:auto;
}

ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
    background-color: #1F2937;
    color: #E5E7EB;
}

.block1{
    display: flex;
    padding: 50px;
    justify-content: center;
    background-color: #1F2937;
    gap: 100px;
}

.block1 .left{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap:10px;
}

#hype {
    color: white;
    font-size: 48px;
    font-weight: extra-bold;

}

#hypeText{
    color: lightgray;
    font-size: 18px;
    margin:0px;
}

button{
    background-color: #3882F6;
    border-radius: 25px;
    border: none;
    color: #E5E7EB;
    max-width: 80px;
}